.exam2 .exam_wrap{padding:10px 0}
.exam2 .exam_wrap h1{margin:5px 0;font-size:1em}
.exam2 .exam_q ul{zoom:1}
.exam2 .exam_q ul:after{display:block;clear:both;content:''}
.exam2 .exam_q ul li{float:left;width:100px;margin-left:-1px;padding:5px 0;border:1px solid #ccc;text-align:center}
.exam2 .exam_q ul li:first-child{margin-left:0}
.exam2 .exam_q ul li.active{background:yellow}